---
- hosts: all
  become: yes
  gather_facts: yes
  tasks:
  - name: i want install apache2
    apt:
      name: apache2
      state: absent
      update_cache: yes

  - name: i want stop the instance
    apt:
     name: tree
     state: present
     update_cache: yes
      