---
- hosts: webserver
  become: yes
  gather_facts: yes
  tasks:
  - name: i want install apache2
    apt:
      name: "{{apache}}"
      state: absent
      update_cache: yes
    when: ansible_os_family=="Debian"
      

  - name: i want stop the instance
    service:
      name: apache2
      state: started
    when: ansible_os_family=="ubuntu"
     
      